@using GatePass.MS.ClientApp.Data
@using GatePass.MS.Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _context


@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await _userManager.GetUserAsync(User);
    int? CurrentUserDepartmentId = currentUser?.Employee?.DepartmentId;
    int? CurrentCompanyId = currentUser?.CompanyId;
    var isInSupervisorRole = await _userManager.IsInRoleAsync(currentUser, "Superviser");
    var isInAdminRole = await _userManager.IsInRoleAsync(currentUser, "Admin");
    @if (currentUser != null)
    {
        var today = DateTime.Today;

        int pendingRequestsCount = _context.RequestInformation
    .Count(r =>
        r.CompanyId == CurrentCompanyId &&
        r.Employee.DepartmentId == CurrentUserDepartmentId &&
        isInSupervisorRole &&
        r.Status == "Pending" &&
        r.VisitDateTimeEnd >= today &&
        !r.Deleted
    );

        int OutDatedRequestsCount = _context.RequestInformation
            .Count(r =>
                r.CompanyId == CurrentCompanyId &&
                r.VisitDateTimeStart < today &&
                r.Status == "Pending" &&
                !r.Deleted
            );

        int lockedAccountCount = _userManager.Users
     .Count(u =>
         u.CompanyId == CurrentCompanyId &&
         u.IsLocked
     );


        @if (isInAdminRole)
        {
            int allNotification = OutDatedRequestsCount + lockedAccountCount;
            <li class="nav-item dropdown">

                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">@allNotification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@allNotification Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a asp-controller="Admin" asp-action="RequestTobeDeleted" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> @OutDatedRequestsCount  Out dated requests
                        <span class="float-right text-muted text-sm"></span>
                    </a>
                    <a asp-controller="Admin" asp-action="ViewLockedAccount" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> @lockedAccountCount  Locked Accounts
                        <span class="float-right text-muted text-sm"></span>
                    </a>

                </div>
            </li>

        }
        else

        @if (isInSupervisorRole)
        {
            int allNotification = pendingRequestsCount;
            <li class="nav-item dropdown">

                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">@allNotification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@allNotification Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="@Url.Action("Index", "RequestInformations", new { status = "pending" })" class="dropdown-item">
                        <i class="fas fa-users mr-2"></i> @pendingRequestsCount pending requests
                        <span class="float-right text-muted text-sm"></span>
                    </a>

                </div>
            </li>
        }
        else
        {
            int allNotification = 0;
            <li class="nav-item dropdown">

                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">@allNotification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@allNotification Notifications</span>
                    <div class="dropdown-divider"></div>


                </div>
            </li>
        }
    }
}