@using GatePass.MS.ClientApp.Data
@using GatePass.MS.Domain
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> _userManager
@inject ApplicationDbContext _context


@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await _userManager.GetUserAsync(User);
    int? CurrentUserDepartmentId = currentUser?.Employee?.DepartmentId;
    var isInSupervisorRole = await _userManager.IsInRoleAsync(currentUser, "Superviser");
    var isInAdminRole = await _userManager.IsInRoleAsync(currentUser, "Admin");

    if (currentUser != null)
    {
        // ALWAYS DISABLE NOTIFICATIONS
        int pendingRequestsCount = 0;
        int OutDatedRequestsCount = 0;
        int lockedAccountCount = 0;

        if (isInAdminRole)
        {
            int allNotification = 0;
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">@allNotification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@allNotification Notifications</span>
                </div>
            </li>
        }
        else if (isInSupervisorRole)
        {
            int allNotification = 0;
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">@allNotification</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">@allNotification Notifications</span>
                </div>
            </li>
        }
        else
        {
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-warning navbar-badge">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">0 Notifications</span>
                </div>
            </li>
        }
    }
}
