@page
@model ResetPasswordConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["resetPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p class="justify-content-center">
    @Localizer["message1"] <a asp-page="./Login"> @Localizer["message2"]</a>.
</p>
