@page
@model ResendEmailConfirmationModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="row justify-content-center ">


    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>GatePass</b>MS</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">@Localizer["resendEmailConfirmationMessage"]</p>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="row">

                        <!-- /.col -->
                        <div class="col-12">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block">@Localizer["resend"]</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
